<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Avaliação Prática II
    </ion-title>
    <ion-title size="small">Persistência de informações (local e remota)</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Desenvolvimento - Biblioteca</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-button color="dark" routerLink="/exercicio1">Exercício 1</ion-button>
      <ion-button color="dark" routerLink="/exercicio2">Exercício 2</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
